<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.mapper.PlanMapper" >

  <select id="selectCurrentPlans" resultType="Plan" parameterType="Plan" >
    select *
      from plan
	 where user_id = #{id}
	 and NOW() &lt; end_time
  </select>
  
  <select id="selectAllPlans" resultType="Plan" parameterType="Integer" >
    select *
      from plan
     where user_id = #{id}
  </select>
  <select id="getWorkingUsers" resultType="Plan" parameterType="Integer" >
    select user_id,name
      from plan
    where user_id in 
             <foreach collection="list" item="id" index="index"
            open="(" close=")" separator=",">
            #{id}
            </foreach>
  </select>
  <insert id="addPlan" parameterType="Plan" >
    insert into plan 
    values (#{id},#{user_id},#{name},#{content},#{begin_time},
    #{end_time},#{expire},#{finish},#{punish_method},
    #{punish_content}
    )
  </insert>
   <delete id="deletePlan" parameterType="Integer">
   	delete from plan 
   	where id = #{id}
   </delete>
   <update id="updatePlan" parameterType="Plan">
   	update plan
   		<set>
			<if test="id!=null">
				id=#{id},
			</if>
			<if test="user_id!=null">
				user_id=#{user_id},
			</if>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="content!=null">
				content=#{content},
			</if>
			<if test="begin_time!=null">
				begin_time=#{begin_time},
			</if>
			<if test="end_time!=null">
				end_time=#{end_time},
			</if>
			<if test="expire!=null">
				expire=#{expire},
			</if>
			<if test="finish!=null">
				finish=#{finish},
			</if>
			<if test="punish_method!=null">
				punish_method=#{punish_method},
			</if>
			<if test="punish_content!=null">
				punish_content=#{punish_content},
			</if>
		</set>
   </update>
</mapper>